[submodule "submodules/add2home"]
	path = submodules/add2home
	url = https://github.com/cubiq/add-to-homescreen
[submodule "submodules/webgl-filter"]
	path = submodules/webgl-filter
	url = https://github.com/evanw/webgl-filter/
[submodule "submodules/fd-slider"]
	path = submodules/fd-slider
	url = https://github.com/freqdec/fd-slider
[submodule "submodules/pulltorefresh"]
	path = submodules/pulltorefresh
	url = https://SimonWaldherr@github.com/SimonWaldherr/PullToRefresh.git
