a { color: #FC0;}

body {
    background: #FDFDFD;
    color: white;
}

.ui-slider-handle {
    background: -moz-linear-gradient(#4B4947, #32302D);
    background: -webkit-gradient(linear, left top, left bottom, from(#4B4947), to(#32302D));
    box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
    -moz-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
    -webkit-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
}

.ui-state-active {
    background: -moz-linear-gradient(#6B6967, #42403D);
    background: -webkit-gradient(linear, left top, left bottom, from(#6B6967), to(#42403D));
}

.button, .segment {
    background: -moz-linear-gradient(#4B4947, #32302D);
    background: -webkit-gradient(linear, left top, left bottom, from(#4B4947), to(#32302D));
    box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
    -moz-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
    -webkit-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
}

.button:active {
    background: #272727;
    box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
    -moz-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
    -webkit-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
}

.button.disabled {
    color: #111;
    text-shadow: 0 1px 0 #4B4947;
    background: -moz-linear-gradient(#3B3937, #2B2927);
    background: -webkit-gradient(linear, left top, left bottom, from(#3B3937), to(#2B2927));
    box-shadow: inset 0 1px 0 #4B4947, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0 1px 1px #111;
    -moz-box-shadow: inset 0 1px 0 #4B4947, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0 1px 1px #111;
    -webkit-box-shadow: inset 0 1px 0 #4B4947, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111, 1px 0 0 #111, 0 1px 1px #111;
}

#toolbar {
    background: -moz-linear-gradient(#3B3937, #2B2927);
    background: -webkit-gradient(linear, left top, left bottom, from(#3B3937), to(#2B2927));
    box-shadow: 0 1px 0 black;
    -moz-box-shadow: 0 1px 0 black;
    -webkit-box-shadow: 0 1px 0 black;
}

#sidebar {
    background: #3B3937;
    box-shadow: 1px 0 0 black;
    -moz-box-shadow: 1px 0 0 black;
    -webkit-box-shadow: 1px 0 0 black;
}

#sidebar .header {
    color: #777;
}

#sidebar .item .wpt_contents table {
    color: #777;
}

#sidebar .item .wpt_contents .reset {
    color: #777;
}

#sidebar .item .wpt_contents .slider {
    border-top: 1px solid #222;
    border-bottom: 1px solid #555;
}

#sidebar .item .wpt_contents .segment {
    color: white;
    background: -moz-linear-gradient(#4B4947, #32302D);
    background: -webkit-gradient(linear, left top, left bottom, from(#4B4947), to(#32302D));
    box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
    -moz-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
    -webkit-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
}

#sidebar .item .wpt_contents .segment.selected, #toolbar .segment.selected {
    background: rgb(21,102,177);
    background: -moz-linear-gradient(top, rgba(21,102,177,1) 0%, rgba(17,80,151,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(21,102,177,1)), color-stop(100%,rgba(17,80,151,1)));
    background: -webkit-linear-gradient(top, rgba(21,102,177,1) 0%,rgba(17,80,151,1) 100%);
    background: -o-linear-gradient(top, rgba(21,102,177,1) 0%,rgba(17,80,151,1) 100%);
    background: -ms-linear-gradient(top, rgba(21,102,177,1) 0%,rgba(17,80,151,1) 100%);
    background: linear-gradient(to bottom, rgba(21,102,177,1) 0%,rgba(17,80,151,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1566b1', endColorstr='#115097',GradientType=0 );
    box-shadow: inset 0 0 10px -2px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
    -moz-box-shadow: inset 0 0 10px -2px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
    -webkit-box-shadow: inset 0 0 10px -2px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
}

#sidebar .item .wpt_contents .curves {
    border: 1px solid #4B4947;
}

#sidebar .item.active {
    background: #272727;
    box-shadow: inset 0 0 6px #070707, inset 0 0 3px #070707, 0 1px 0 #4B4947;
    -moz-box-shadow: inset 0 0 6px #070707, inset 0 0 3px #070707, 0 1px 0 #4B4947;
    -webkit-box-shadow: inset 0 0 6px #070707, inset 0 0 3px #070707, 0 1px 0 #4B4947;
}

#sidebar .item.active .wpt_contents .slider {
    border-top: 1px solid black;
    border-bottom: 1px solid #333;
}

#sidebar::-webkit-scrollbar-track {
    background: #1B1917;
    -webkit-box-shadow: inset 0 0 6px #1B1917; 
}

#sidebar::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#sidebar::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(244,244,244,0.4); 
}

#dialog {
    background: #32302D;
    border: 1px solid black;
    -moz-box-shadow: 0 0 50px black, 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 50px black, 0 0 20px rgba(0, 0, 0, 0.5);
}

#dialog .contents .credits, #dialog .contents .credits a {
    color: #777;
}

#dialog .contents img {
    border: 1px solid black;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#dimmer {
    background: rgba(55,55,55,0.7);
}

#loading {
    background: #2B2927;
}

#loading .sadface {
    font-size: 100px;
    line-height: 100px;
    padding-bottom: 40px;
}

#box{
    background: #1B1917;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(55, 55, 55, 0.5);
    box-shadow: 0px 0px 25px 5px rgba(55, 55, 55, 0.5);
    border: 1px solid #222;
}

#topgrad{
    background: #adadad;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkYWRhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGZkZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #adadad 0%, #fdfdfd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adadad), color-stop(100%,#fdfdfd));
    background: -webkit-linear-gradient(top, #adadad 0%,#fdfdfd 100%);
    background: -o-linear-gradient(top, #adadad 0%,#fdfdfd 100%);
    background: -ms-linear-gradient(top, #adadad 0%,#fdfdfd 100%);
    background: linear-gradient(to bottom, #adadad 0%,#fdfdfd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#fdfdfd',GradientType=0 );
}

#toolbar .segment {
    color: white;
    background: -moz-linear-gradient(#4B4947, #32302D);
    background: -webkit-gradient(linear, left top, left bottom, from(#4B4947), to(#32302D));
    box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
    -moz-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
    -webkit-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
}

#toolbar .segment:active {
    background: #272727;
    box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
    -moz-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
    -webkit-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
}

.fd-slider-bar {
    border-top: 1px solid black;
    border-bottom: 1px solid #333;
    color: #777;
}

.fd-slider-handle, .fd-slider-handle:active, .fd-slider-handle:hover {
    background: -moz-linear-gradient(#4B4947, #32302D);
    background: -webkit-gradient(linear, left top, left bottom, from(#4B4947), to(#32302D));
    box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
    -moz-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
    -webkit-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
}

.fd-slider-range {
	background: rgb(21,102,177);
}
